html {
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

*::before,
*::after {
    box-sizing: inherit;
}

body {
    background: rgb(217, 233, 242);
}

/* Media Query for Desktop */
@media screen and (min-width:401px) {

    /* Testing Grid */
    .grid-container {
        display: grid;
        width: 78%;
        grid-gap: 1em;
        position: relative;
        left: 50%;
        transform: translate(-50%, -12%);
    }

    .grid-container>div {
        background-color: rgb(255, 255, 255);
        font-size: 20px;
        height: 40vh;
        overflow: auto;
    }

    .item1 {
        grid-column: 0 / span 4;
    }

    .item5 {
        grid-column: 1 / span 2;
    }

    .item8 {
        grid-column: 1 / span 4;
    }

    .item9 {
        grid-column: 1 / span 4;
    }

    .item14 {
        grid-column: 1 / span 4;
    }

    /* Testing Grid */


    header {
        width: 100%;
        background-color: #1c2634;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 800px;
        margin: 0 1em;
        padding: 1em .5em;
    }

    .sub-container {
        background-color: #142242;
    }

    .logo {
        display: flex;
        cursor: pointer;
        align-items: center;
    }

    .amazon-logo {
        width: 70%;
        height: 5vh;
        object-fit: contain;
    }

    .logo h2 {
        margin-bottom: .25em;
    }

    .address-container {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .location-icon {
        font-size: 1.5em;
    }

    .sidebar-desktop {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #282838;
        overflow-x: hidden;
        transition: .5s;
        padding-top: 8em;
    }

    .sidebar-header-desktop {
        margin: 5px 10px;
    }

    .user {
        display: flex;
        align-items: center;
        margin: 1em;
    }

    .user-desktop {
        font-size: 2em;
        padding: 0 10px;
    }

    .sidebar-desktop .row {
        margin: 1em;
    }

    .sidebar .row-1 i {
        font-size: 1.5em;
    }

    .sidebar h2 {
        display: flex;
        justify-content: flex-start;
        margin: 5px 10px;
        font-size: 1em;
    }

    .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: .9rem;
        color: #eaa346;
        display: block;
        transition: .3s;
    }

    .sidebar .close-menu-desktop {
        position: absolute;
        color: #fff;
        font-size: 1.5em;
        margin: 0 210px;
        border: none;
    }

    .close-menu-desktop {
        display: flex;
        justify-content: flex-end;
        font-size: 2em;
        margin-right: 1em;
        margin-top: -3em;
        cursor: pointer;
    }

    .dropdown-btn {
        height: 3em;
        width: 5em;
        border-radius: 5px 5px 5px 5px;
        border: none;
        color: #000000;
        background-color: #eee7dd;
        cursor: pointer;
    }

    .dropdown-btn i {
        color: #000000;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-menu {
        display: none;
        position: absolute;
        min-width: 15em;
        max-height: 15em;
        overflow: auto;
        z-index: 1;
        background-color: rgb(238, 238, 238);
        border: 1px solid #000000;
    }

    .dropdown li {
        list-style-type: none;
        padding: 5px 10px;
    }

    .dropdown li a {
        text-decoration: none;
        color: #000000;
    }

    .dropdown li a:hover {
        background-color: blueviolet;
        color: #fff;
    }

    .menu a {
        text-decoration: none;
        display: block;
        padding: 10px 35px;
        color: #fda22c;
    }

    .show {
        display: block;
    }

    .search {
        display: flex;
        overflow: auto;
        border-radius: 5px 0 0 5px;
    }

    .search input[type="text"] {
        width: 75em;
        padding: 12px 10px;
        border: none;
        font-weight: 600;
        color: #000000;
        border-radius: 5px 0 0 5px;
    }

    .search-btn {
        width: 4em;
        border-radius: 0 5px 5px 0;
        border: none;
        background-color: #fda22c;
        cursor: pointer;
    }

    .search i {
        color: #000000;
    }

    .flag {
        width: 5em;
    }

    .india-flag {
        width: 2em;
    }

    .flag {
        cursor: pointer;
    }

    .account-down {
        display: flex;
    }

    .account {
        cursor: pointer;
    }

    .order {
        cursor: pointer;
    }

    .cart-item {
        font-size: 2em;
        cursor: pointer;
    }

    .open-menu-desktop {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .col {
        padding: 5px 10px;
        font-size: .8em;
        cursor: pointer;
    }

    .sub-container {
        display: flex;
        justify-content: space-between;
        height: 3em;
    }

    .menu-icon {
        font-size: 2em;
    }

    .history-icon {
        font-size: 1em;
    }

    .product {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: auto;
        width: 80%;
        gap: 10px;
        padding: 10px 10px;
        border: 2px solid black;
    }

    .product-img {
        border: 2px solid red;
    }

    .big-img {
        width: 95%;
        height: 60vh;
        align-items: center;
        align-content: center;
        margin: auto;
        border: 2px solid #fda22c;
    }

    .big-img img {
        margin: auto;
        width: 90%;
        padding: 10px 10px;
        height: 59vh;
        display: grid;
        object-fit: contain;
    }

    .small-img-container {
        display: grid;
        align-content: center;
        grid-template-columns: repeat(5, 1fr);
        margin: auto;
        width: 40%;
        padding: 10px 10px;
        height: 15vh;
        gap: 10px;
        border: 2px solid greenyellow;
    }

    .small-img {
        width: 100%;
        height: 6vh;
        border: 2px solid firebrick;
    }

    .product-about {
        border: 2px solid red;
    }

    .product-name {
        display: grid;
        align-items: center;
        width: 95%;
        margin: auto;
        height: 5vh;
        margin: 10px 10px;
        border: 2px solid violet;
    }

    .product-price {
        height: 5vh;
    }

    .product-offers {
        height: 31vh;
    }

    .product-colors {
        display: grid;
        grid-template-columns: repeat(5, 40px);
        align-content: center;
        gap: 5px;
        border: 2px solid blue;
    }

    .color {
        width: 100%;
        border: 2px solid darkmagenta;
    }

    .product-short-desc {
        height: 30vh;
    }

    .product-description {
        grid-column: 1/3;
        border: 2px solid red;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        border: 2px solid crimson;
    }

    th {
        display: flex;
        align-items: center;
    }

    td,
    th {
        /* display: flex; */
        /* align-items: center; */
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    td,
    th img {
        width: 5%;
        margin-right: 10px;
        /* padding: 10px 10px; */
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    .buy {
        display: flex;
        /* padding: 0 5px; */
    }

    .buy button {
        width: 25%;
        height: 4vh;
        margin-right: 5px;
        border-radius: 40px;
    }
}