* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    background-color: #282838;
    max-width: 500px;
}



@media screen and (max-width:500px) {
    .container {
        width: 90%;
        max-width: 900px;
        margin: 0 auto;
        display: inline;
    }

    .row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        color: #fff;
    }

    .row i {
        font-size: 2em;
        margin-left: 3px;
        margin-right: 3px;
        padding: 0 3px;
    }

    .search {
        width: 100%;
        display: flex;
    }

    .name,
    .logo {
        padding: 0 10px;
    }

    form.search input {
        min-width: 50%;
        width: 85%;
        padding: 8px 11px;
        margin: 0 7px;
        border: none;
        overflow: auto;
        color: #282838;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }

    .submit-btn {
        border: 0px;
        background: none;
        padding: 2px 5px;
        background-color: #eaa346;
        border-radius: 5px;
        color: rgb(0, 0, 0);
        font-size: 2em;
        margin-right: 5px;
        float: right;
    }

    .submit-btn i {
        color: #000000;
    }

    nav ul {
        list-style: none;
        padding: 0;
        display: flex;
        color: #fff;
    }

    nav small {
        font-size: 1em;
    }

    nav li {
        margin-left: .5em;
    }

    nav a {
        font-size: 1.2rem;
        text-decoration: none;
        color: #fff;
    }

    .col-left {
        display: flex;
        align-items: center;
    }

    .col-right {
        display: flex;
        align-items: center;
    }

    .col h1 {
        padding: .5em .5em;
    }

    .sidebar {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #282838;
        overflow-x: hidden;
        transition: .5s;
        padding-top: 30px;
    }

    .sidebar-header {
        margin: 5px 10px;
    }

    .sidebar .row-1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 1em;
    }

    .sidebar .row-1 i {
        font-size: 1.5em;
    }

    .sidebar h2 {
        display: flex;
        justify-content: flex-start;
        margin: 5px 10px;
        font-size: 1em;
    }

    .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: .9rem;
        color: #eaa346;
        display: block;
        transition: .3s;
    }

    .sidebar .close-menu {
        position: absolute;
        color: #fff;
        font-size: 1.5em;
        margin: 0 210px;
        border: none;
    }

    .close-menu {
        display: flex;
        justify-content: flex-end;
        font-size: 2em;
        margin-right: 1em;
        margin-top: -3em;
    }
}