@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(12, 1, 41);
}

.container {
    width: 100%;
}

.title-front {
    top: 45%;
    transform: translate(0%, 0%);
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    color: #fff;
    text-align: center;
    margin-left: 50%;
    transform: translateX(-200%);
    animation: slide-in-anim 4s ease-out forwards;
    overflow: hidden;
    z-index: 2;
    position: absolute;
}

.title-back {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 0);
    font-size: 300px;
}

.djangram {
    display: grid;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(1, 35, 54, 0.41);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 100);
    backdrop-filter: blur(11.1px);
    border-radius: 50px;
}

#djangram-path {
    stroke: rgb(255, 0, 76);
    stroke-dasharray: 12116.5;
    stroke-dashoffset: 12116.5;
    animation: djangram_logo 20s ease;
    animation-fill-mode: forwards;
}

@keyframes slide-in-anim {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    60% {
        transform: translateX(0%);
    }

    75% {
        transform: translateX(0%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes djangram_logo {
    to {
        stroke-dashoffset: 0;
    }
}