* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(12, 1, 41);
}

.login {
    display: flex;
}

.form {
    width: 30%;
    height: 80vh;
    padding: 0 30px;
    display: grid;
    align-items: center;
    background: #fff;
    border-radius: 0 0 100px 0;
}

.login-title {
    display: grid;
    justify-content: center;
    margin-bottom: 10px;
}

.login-subtitle {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-form>input {
    height: 5vh;
    padding: 10px;
    font-size: large;
    border-radius: 8px;
    letter-spacing: 1px;
    border: 1px solid crimson;
    outline: none;
}

.login-form>button {
    height: 4vh;
    font-size: larger;
    border-radius: 5px;
    letter-spacing: 1px;
    border: none;
    background: rgb(239, 42, 81);
    color: #fff;
    cursor: pointer;
}

.login-form>button:hover {
    background: crimson;
}

.or {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0 20px 0;
}

.or::before,
.or::after {
    content: "";
    flex: 1 1;
    border-bottom: 2px solid rgb(166, 165, 165);
    margin: auto;
}

.or::before {
    margin-right: 10px;
}

.or::after {
    margin-left: 10px;
}

.o-auth {
    display: grid;
    gap: 15px;
}

.o-auth>button {
    height: 4vh;
    font-size: larger;
    border-radius: 5px;
    letter-spacing: 1px;
    border: none;
    background: rgb(239, 42, 81);
    color: #fff;
    cursor: pointer;
}

.o-auth>.google-btn {
    background: rgb(185, 51, 51);
}

.o-auth>.google-btn:hover {
    background: crimson;
}

.o-auth>.facebook-btn {
    background: rgb(3, 109, 191);
}

.o-auth>.facebook-btn:hover {
    background: rgb(0, 137, 242);
}

#djangram-logo {
    stroke-dasharray: 2376;
    stroke-dashoffset: 2376;
    animation: djangram-logo 20s ease;
    animation-fill-mode: forwards;
}

.logo {
    top: 45%;
    left: 70%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.underline {
    width: 100%;
    border: 1px solid #fff;
    border-radius: 20px;
    position: absolute;
    top: 60%;
    transform: translateX(-70%);
    animation: slide-in-anim 5s ease-out forwards;
}

@keyframes slide-in-anim {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    60% {
        transform: translateX(7%);
    }

    75% {
        transform: translateX(-7%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes djangram-logo {
    to {
        stroke-dashoffset: 0;
    }
}