body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container>h1 {
  color: rgb(133, 130, 125);
}

.quantity {
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(93, 92, 92);
  gap: 5px;
  border-radius: 80px;
}

.quantity>input {
  width: 70px;
  height: 5vh;
  color: rgb(5, 96, 175);
  display: flex;
  text-align: center;
  font-size: xx-large;
  border-radius: 5px;
  border: none;
}

.quantity>button {
  height: 5vh;
  width: 50px;
  color: rgb(0, 128, 255);
  font-size: xx-large;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.quantity>button:hover {
  background-color: rgb(237, 206, 206);
}