* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(53, 52, 52);
}

.container {
    width: 100%;
    display: flex;
    gap: 20px;
    border: 2px solid red;
}

.navigation__div {
    width: 10%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    color: #fff;
    border: 2px solid blue;
}

.navigation__div>ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 50px;
}

.navigation__div>ul>li {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
    border: 2px solid hotpink;
}

.content__div {
    width: 90%;
    height: 80vh;
    margin-top: 20px;
    border: 2px solid yellow;
}