{% extends 'app/base.html' %}
{% load static %}

{% block style-product %}
<link rel="stylesheet" href="{% static 'app/css/product.css' %}">
{% endblock %}

{% block title %}Upload Product{% endblock %}
    <div class="upload-container">
        <div class="upload-title">
            <h1>Upload Product/Details</h1>
        </div>
        <div class="upload-product">
            <form action="">
                <div class="product-title product">
                    <small>Product Title</small>
                    <input type="text" name="" id="">
                </div>
                <div class="product-selling-price product">
                    <small>Product Selling Price</small>
                    <input type="number" name="" id="">
                </div>
                <div class="product-discounted-price product">
                    <small>Product Discounted Price</small>
                    <input type="number" name="" id="">
                </div>
                <div class="product-description product">
                    <small>Product Description</small>
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                </div>
                <div class="product-brand product">
                    <small>Product Brand</small>
                    <input type="text" name="" id="">
                </div>
                <div class="product-category product">
                    <small>Product Category</small>
                </div>
                <div class="product-main-image product">
                    <small>Product Main Image</small>
                    <input type="file" name="image" id="">
                </div>
                <div class="product-sub-image product">
                    <small>Product Sub Image(s)</small>
                    <input type="file" name="image" id="">
                </div>
                <div class="product-desc-image product">
                    <small>Product Description Image(s)</small>
                    <input type="file" name="image" id="">
                </div>
            </form>
        </div>
    </div>
</body>

<script src="/js/uploaddetails.js"></script>

</html>